h1{
    color: whitesmoke;
    text-shadow: 3px 3px black;
}

.breakLine{
    width: 1px;
    height: 90%;
    background-color: whitesmoke;
    position: absolute;
    top: 10%;
    right: 0;
    
}

.jumbotron{
    background-image: url("./jumbotron.jpg");
}

#titleForm{
    color: whitesmoke;
    padding: 30px;
    background-color: rgb(16, 65, 16, .6);
}

body{
    min-width: 100px;
    min-height: 100px;
    background-color: rgb(180, 68, 48);
}

#test{
    padding: 20px;
    font-size: x-large;
    color: whitesmoke;
    background-color: rgb(16, 65, 16, .9);
    position: relative;
}